<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>닮은 포켓몬 찾기</title>
    <style>
        body{
            background: url("../static/css/img/show_background.png") no-repeat fixed 50% 50%/100% 100%;
        }
    </style>
</head>
<body>
    <h1>아, 그래! 넌 {{result}} (을)를 {{prob}}%만큼 닮았어!</h1>
    <div class="float-right">
        <img class="masthead-avatar mb-4" id ="cam" src= "../static/test.jpg" alt="" width="400px"/>
        <img class="masthead-avatar mb-4" id = "file" src="../static/img_pokemon_original/{{ result }}.jpg" alt="" width="400px"/>
    </div>

</body>
</html>

